<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="<%= object.picture %>">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= object.title %></h4>
    <%= object.description %>
    <%= object.properties['inch'] %>
  </div>
</div>
