<% @solr.results.each do |object| %>
  <%= render partial: 'product', locals: { object: object } %>
<% end %>

<% if @solr.results.empty? %>
  <div class="alert alert-info" role="alert">Nenhum resultado encontrado.</div>
<% end %>
